<article class="feed {{post_class}}" data-month="{{date format="MMMM YYYY"}}">

    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>

    {{#match @custom.feed_layout "!=" "Text-only"}}
    {{#match @custom.feed_layout "!=" "Minimal"}}
        {{#if feature_image}}
        <div class="feed-image u-placeholder rectangle">
            
                <img
                    class="u-object-fit"
                    srcset="{{> "srcset"}}"
                    sizes="(min-width: 576px) 160px, 90vw"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    loading="lazy"
                >
            
        </div>
         {{/if}}
    {{/match}}
    {{/match}}

    <div class="feed-wrapper">
        
        {{!-- {{#has tag= "#embed-note"}}
            {{^has tag= "#embed-content"}} 
                <a class="feed-title" href="{{url}}" aria-label="{{title}}">{{title}}</a>
            {{/has}}
            <div class="feed-excerpt-content">{{content}}</div> 
        {{else}}
            <h2 class="feed-title">{{title}}</h2>
            {{#if excerpt}}
                <div class="feed-excerpt">{{excerpt characters="200"}}</div>
            {{/if}}
        {{/has}} --}}

        {{#has tag= "#embed-note"}}
            <a class="feed-title" href="{{url}}" aria-label="{{title}}">{{title}}</a>
            <div class="feed-excerpt-content">{{content}}</div> 
        {{/has}}

         {{#has tag= "#embed-content"}}
            <div class="feed-excerpt-content">{{content}}</div> 
        {{/has}}

        {{^has tag= "#embed-note, #embed-content"}}
            <h2 class="feed-title">{{title}}</h2>
            {{#if excerpt}}
                <div class="feed-excerpt">{{excerpt characters="200"}}</div>
            {{/if}}
        {{/has}}

        {{^has tag= "#embed-content"}}  
            <div class="feed-right">
                {{#if primary_tag}}
                        {{#primary_tag}}
                            <div class="feed-tag">
                                {{name}} 
                            </div>
                        {{/primary_tag}}

                {{else}}
                    <div class="feed-tag">Private</div>
                {{/if}}

                <time class="feed-date" datetime="{{date format="YYYY-MM-DD"}}">
                    {{date published_at}}
                </time>
                

                {{^has tag= "#embed-note"}}
                    {{#if reading_time}}
                        <div class="feed-length">
                            {{reading_time}}
                        </div>
                    {{/if}}
                {{/has}}
                
                {{#if @site.comments_enabled}}
                    {{comment_count autowrap="div" class="feed-comments"}}
                {{/if}}
                <div class="feed-icon">
                    {{> "icons/chevron-right"}}
                </div>
            </div>
        {{/has}}
    </div>


    {{!-- {{#match @custom.feed_layout "!=" "Text-only"}}
    {{#match @custom.feed_layout "!=" "Minimal"}}
        {{#if feature_image}}
        <div class="feed-image u-placeholder rectangle">
            
                <img
                    class="u-object-fit"
                    srcset="{{> "srcset"}}"
                    sizes="(min-width: 576px) 160px, 90vw"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    loading="lazy"
                >
            
        </div>
         {{/if}}
    {{/match}}
    {{/match}} --}}

    {{!-- <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a> --}}
 
    {{^has tag= "#embed-note, #embed-content"}}
        <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>
    {{/has}}

</article>