<article class="feed {{post_class}}" data-month="{{date format="MMMM YYYY"}}">

    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>

   
    <div class="feed-wrapper">
        {{!-- <a class="feed-title" href="{{url}}" aria-label="{{title}}">{{title}}</a> --}}
        <a class="feed-title">{{title}}</a>
        <div class="feed-excerpt-content">{{content}}</div> 
    </div>
 
    

</article>