{{!< default}}
<main class="site-main">

    {{#is "home"}}
        {{#if @custom.upper_section_tag}} 
            {{#get "tags" filter="slug:[{{@custom.upper_section_tag}}]" as |featured_tags|}}
                {{!-- <header class="feed-header gh-canvas">
                    <div class="feed-header-wrapper">
                        <h2 class="feed-header-title">Kazai Storyboard</h2>
                    </div>
                </header> --}}
                {{#foreach featured_tags}}
                    {{!-- <header class="feed-header gh-canvas">
                            <div class="feed-header-wrapper">
                                <h2 class="feed-header-title">{{name}}</h2>
                            </div>
                    </header> --}}
                    {{#get "pages" include="tags,authors" filter="tag:{{slug}}" as |featured| }}
                        <div class="post-feed expanded gh-canvas">
                        {{#foreach featured}}
                            {{> "embed-loop"}}
                        {{/foreach}}
                        </div>
                    {{/get}}

                {{/foreach}}
 
            {{/get}} 
        {{/if}}
    {{/is}} 


    {{#is "home"}}
        {{#if @custom.show_featured_posts}}
            {{#get "posts" include='tags' filter="featured:true" as |featured|}}
                {{#if featured}}
                    <header class="feed-header gh-canvas">
                    {{#if @custom.featured_title}}
                         <div class="feed-header-wrapper">
                            <h2 class="feed-header-title">{{@custom.featured_title}}</h2>
                        </div>
                    {{/if}}
                    </header>
                    <div class="post-feed expanded gh-canvas">
                    
                        {{#foreach featured}}
                            {{> "loop"}}
                        {{/foreach}}
                    </div>
                {{/if}}
            {{/get}}
        {{/if}}
    {{/is}} 

    
    {{#if @custom.pinned_tags}} 
        {{#get "tags" filter="slug:[{{@custom.pinned_tags}}]" as |featured_tags|}}
                
            {{#foreach featured_tags}}
                    <header class="feed-header gh-canvas">
                        <div class="feed-header-wrapper">
                            <h2 class="feed-header-title">{{name}}</h2>
                        </div>
                </header>
                {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit=@custom.pinned_tags_limit as |featured| }}
                    <div class="post-feed text-only gh-canvas">
                    {{#foreach featured}}
                        {{> "loop"}}
                    {{/foreach}}
                    </div>
                {{/get}}

            {{/foreach}}

        {{/get}} 
    {{/if}}
    
    <header class="feed-header gh-canvas">
        <div class="feed-header-wrapper">
            <h2 class="feed-header-title">{{@custom.feed_title}}</h2>
        </div>
    </header>
    


    <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
    {{!-- <div class="post-feed expanded gh-feed gh-canvas"> --}}
        {{#foreach posts visibility="all"}}
            {{> "blog-loop"}}
        {{/foreach}}
    </div>

   
    {{pagination}}

</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}